html, body{
	height:100%;
}

/*header, main, footer {
      padding-left: 250px;
    }

@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
}
*/
.selectable{
	cursor: pointer;
}